# Docs for the Azure Functions Deploy action: https://github.com/Azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy dotnet core project to Azure Function App - fcg-func

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: fcg-func
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # repo root
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        shell: bash
        run: |
          dotnet restore

      - name: Build
        shell: bash
        run: |
          dotnet build --configuration Release --no-restore

      - name: Publish
        shell: bash
        run: |
          dotnet publish --configuration Release --no-build --output ./output

      - name: Login to Azure (Service Principal JSON)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          slot-name: Production
          package: ./output
